# Ignore all files in the data directory
data/*
SoSe26_General_Tasks_Group_44_draft.ipynb
KPI_10_views.ipynb
old_app/*
old_notebooks/*
/SoSe26_Case_Study_finalData_Group_44.csv

# EXCEPTION: Do not ignore the README or gitkeep files in the data directory
!data/README.md
!data/.gitkeep