# Ignore all files in the data directory
Data/*
SoSe26_Case_Study_finalData_Group_44.csv

# EXCEPTION: Do not ignore the README or gitkeep files in the data directory
!Data/README.md
!Data/.gitkeep

.vscode/

